

.spatiu{
  padding: 10px;
}

.center-table{
    display: flex;
    width: 50%;
    margin-top: 2%;
    margin-left: 25%;
    justify-content: center;
    align-items: center;    
    margin-bottom: 10%;
}
.center1{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 70px;

}
.center1>div{
  width: 200px !important;
  margin: 10px;
}
.center2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 50px;
}
.center2>div{
  width: 200px !important;
  margin: 10px;

}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}
.submit_button{
  margin-top: 10px;
  width: 100px;
  height: 40px;
  background-color: #4caf75;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}


.fab_add{
  position: fixed;
  bottom: 100px;
  right: 100px;
}

p  
{  
  color:#ffc0cb;  
  font-weight:bold;  
}